<!--
<header class="page-header">
  <div class="page-header__logo"><img src="img/logo.svg" alt="" class="page-header__logo-image"></div>
  <nav class="main-nav">
    <ul class="main-nav__list">
      <li class="main-nav__list-item">
        <a href="index.html">Интернет-магазинам</a>
      </li>
      <li class="main-nav__list-item">
        <a href="about.html">Диджитал-агенствам</a>
      </li>
      <li class="main-nav__list-item">
        <a href="about.html">Инвестиционным команиям</a>
      </li>
    </ul>
  </nav>
</header>-->
