<header class="page-header">
  <div class="page-header__logo">
    <picture>
      <source media="(max-width: 768px)" srcset="img/logomobile.svg">
      <img src="img/logo.svg" alt="" class="page-header__logo-image"></picture>
  </div>
  <nav class="main-nav main-nav--closed">
    <button class="main-nav__toggle" type="button">Открыть меню</button>
    <ul class="main-nav__list">
      <li class="main-nav__list-item">
        <a href="index.html">Интернет-магазинам</a>
      </li>
      <li class="main-nav__list-item">
        <a href="digital.html">Диджитал-агенствам</a>
      </li>
      <li class="main-nav__list-item">
        <a href="invest.html">Инвестиционным команиям</a>
      </li>
    </ul>
  </nav>
</header>