.feedback-form__wrapper {
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
}


.feedback-form {
  color: #000;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 30px;
  margin-bottom: 30px;
  textarea {
    box-sizing: border-box;
    padding: 10px;
    outline: none;
    border: 2px solid #ececec;
    transition: 0.4s all;
    &:hover {
      border: 2px solid #2D6FEC;
    }
    &:focus {
      border: 2px solid #2D6FEC;
    }
  }
  button {
    background-color: transparent;
    box-sizing: border-box;
    padding: 10px;
    outline: none;
    transition: 0.4s all;
    border: 2px solid #ececec;
    margin-top: 15px;
    &:hover {
      border: 2px solid #2D6FEC;
    }
    &:focus {
      border: 2px solid #2D6FEC;
    }
  }
}

.feedback-form__item {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  label {
    width: 100px;
  }
  input {
    border: none;
    border-bottom: 2px solid #ececec;
    width: 100%;
    transition: 0.4s all;
    outline: none;
    box-sizing: border-box;
    padding-left: 10px;
    &:hover {
      border-bottom: 2px solid #2D6FEC;
    }
    &:focus {
      border-bottom: 2px solid #2D6FEC;
    }
  }
}