.payment-methods {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;
  &__item {
    display: flex;
    flex-direction: column;
    img {
      width: 100px;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}

@media #{$mobile-widths} {
  .payment-methods {
    flex-wrap: wrap;
  }
}