.screen {
  width: 100%;
  height: calc(100vh - 92px);
  background-image: linear-gradient(0deg, #fff, #3972E4);
  position: relative;
  &__title {
    @extend %center;
    font-size: 36px;
    text-align: center;
    color: #fff;
    font-weight: lighter;
  }
  &__mouse{
    position: absolute;
    width: 45px;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    transition: 0.4s all;
    img{
      width: 100%;
      height: auto;
    }
    &:hover{
      padding-bottom: 10px;
    }
  }
}